<script>

var book_ids = <%= @books.map(&:id) %>;
var titles = <%= raw(@books.map(&:title).to_json) %>;
var start_chapter = <%= start_chapter = 5 %>;
var bookGraphs;

$(document).ready(function() {
/*
  book_ids.forEach(function(book_id){
    streamgraph(book_id, start_chapter);
  });
*/

  bookGraphs = $.map(book_ids, function(book_id, i){
      var selctr = "#book-" + book_id;
      var req_url = "/book/" + book_id + ".json" // => obj['chapters']
      var x = {
          book: book_id,
          index: i,
          graph: new HorizontalStreamgraph({book: book_id, selection: selctr})
      };
      $.get(req_url, function(d) {
          //console.log('ajax data returned:');
          //console.log(d.chapters);
          //console.log(x);
          x['chapters'] = d.chapters;
          x['last_chapter'] = d.last_chapter;
      });
      return x;
  });
  bookGraphs.forEach(function(book){
      book.graph.render_chapter(4);
  });

  $(".chapter p").clicktoggle(function(){
      var $this = $(this);
      var $peers = $this.parent().parent().parent().parent().find('.chapter p');
      $peers.css('color', '#b0b0b0');
      $this.css('color', '#8080c0');
      $this.css('outline', 'none');
      $this.attr('tabindex', 1);
      $this.focus();
      // console.log('red');
      $this.on('keydown', function(e) {
          var chapter = parseInt($this.html());
          var book = $this.data('book');
          //console.log(e.which);
          //console.log('up: book=' + book + ', chapter=' + chapter);
          var bookGraph = bookGraphs[book-1]; // HACK!
          chapter = keycode_functions(e.which, chapter, 1, bookGraph.last_chapter);
          if (chapter) {
              bookGraph.graph.render_chapter(chapter);
          }
      });
  }, function(){
      var $this = $(this);
      $this.css('color', '#b0b0b0'); //normal
      $this.blur();
      $this.off('keypress');
  });

  $(document).on("mouseenter", ".pos-hover", function(e) {
      var $this = $(this);
      $this.siblings(".pos-hover").css("opacity", 0.2);
      $this.css("opacity", 1);
  }).on("mouseleave", ".pos-hover", function() {
      var $this = $(this);
      $this.siblings(".pos-hover").css("opacity", 1);
  });
});
</script>

<div class="books-page">
  <h2>All books: selected chapters</h2>
  <% @books.each do |book| %>
    <div class="book-item">
      <div class="book-title"><span class="title"><%= book.has_data? ? link_to(book.title, book_path(book)) : book.title %></span>, <%= book.author %></div>

      <div class="row">
        <div class="chapter"><p data-book="<%= book.id %>"><%= start_chapter %></p>
        </div>
        <div class="graph" id="book-<%= book.id %>"></div>
        <div class="clearfix"></div>
      </div>

    </div>
  <% end %>
</div>
