<script>
  var book_id = <%= @id %>;
  var chapter_id = <%= @random_chapter_id %>;
  /* TODO: fix this suspect way to move data ruby->js */
  var chapters = <%= raw(@book.chapters.to_json) %>;
  var notes = <%= raw(@book.notes.to_json) %>;
  var sentence_count = <%= @book.sentence_count %>,
      pixels_per_sentence = 3,
      graph_height = (pixels_per_sentence * sentence_count);

  var vgraph_render_post_process = function() {
    console.log('callback');
    $.map(notes, function(sent_number, i) {
        var req_url = "/book/" + book_id + "/sentence/" + sent_number + ".json"
        $.get(req_url, function(d) {

          var css_select = "#hline-" + sent_number;
              elem = $(css_select),
                 o = elem.offset(),
              etop = o.top,
             eleft = o.left,
               div = $("<div>", {class: "a"});

          div.css("position", "absolute")
             .css("left", "16")
             .css("top", etop)
             .css("width", "180")
             .css("z-index", "500")
             .css("padding", "3px")
             .css("color", "#909090")
             .css("background-color", "#242424")
             .css("font-size", "70%")
             .css("border", "1px solid #606060")
             .html(d.note);

          console.log(sent_number + ": " + d.note);
          $('body').append(div);
        });
    });
  }

  $(document).ready(function() {
      var options = { book: book_id, chapter: 'all',
                          selector: "#vertical-graph-all",
                          width: 160, height: graph_height
                        };
      render_vstream_graph(options, vgraph_render_post_process);
      //render_post_process();

      $(document).on("mouseenter", ".line-hover", function(e) {
          var ypos = e.pageY - 62;
          var $this = $(this);
          var sent_number = $this.data("sn");
          var req_url = "/book/" + book_id + "/sentence/" + sent_number + ".json"
          $.get(req_url, function(d) {

/* TODO: details to be worked out..
              var _j = JSON.parse(d.pos_as_json);
              var text = _j.map(function(w){
                  return w[0];
              }).join(' ');
*/
              var content = sent_number + ". " + d.text;
                                     /* + " (" + d.slen + "&nbsp;words)";*/
              $("#hover-container").css("top", ypos)
                               .css("left", "320px")
                               .css("min-width", "240px")
                               .css("visibility", "visible")
                               .html(content);
          });

      }).on("mouseleave", ".line-hover", function() {
          var $this = $(this);
          $("#hover-container").css("visibility", "hidden").css("left", "-1000px");
      });

  });
</script>

<style>
  #hover-container {
    margin-right: 30px;
    position: absolute;
    left: -1000px;
    visibility: hidden;
    border: 1px solid #b0b0b0;
    padding: 6px 6px 9px 10px;
    color: #202020;
    background-color: #b0b0b0;
  }
  #vertical-graph-all {
    margin-left: 160px;
    margin-bottom: 40px;
  }
  line:hover {
    stroke: #b0b0b0;
    opacity: 1;
  }
</style>

<div id="book-detail-content">

  <div class="header">
    <h2><span class="title"><%= @book.title %></span>, by <span class="author"><%= @book.author %></span></h2>
    <span class="number-of-chapters"><%= @book.chapters.size %> chapters</span>
  </div>

  <div class="vertical-graph-container">
      <div class="vertical-graph" id="vertical-graph-all">
      </div>
      <div class="annotation">
      </div>
  </div>
  <div id="hover-container">
  </div>

</div>
