<script>
  var book_id = <%= @id %>;
  var chapter_id = <%= @random_chapter_id %>;
  /* TODO: fix this suspect way to move data ruby->js */
  var chapters = <%= raw(@book.chapters.to_json) %>;
  $(document).ready(function() {
      chapters.forEach(function(chapter) {
          var options = { book: book_id, chapter: chapter,
                          selector: ".vertical-graph-" + chapter,
                          width: 740, height: 80,
                          xwidth: 400
                        };
          render_stream_graph(options);
      });
  });
</script>

<div id="book-detail-content">

  <div class="header">
    <h2><span class="title"><%= @book.title %></span>, by <span class="author"><%= @book.author %></span></h2>
    <span class="number-of-chapters"><%= @book.chapters.size %> chapters</span>
  </div>

  <div class="vertical-graph-container">

      <% @book.chapters.each do |chapter| %>
        <div class="vertical-graph-<%= chapter %>">
        </div>
      <% end %>
      <div class="annotation">
      </div>

  </div>

</div>
