<script>
  var book_id = <%= @book_id %>;
  var chapter_id = <%= @chapter_id %>;
  $(document).ready(function() {
    var options = { book: book_id, chapter: chapter_id,
                    selector: ".vertical-graph",
                    width: 120, height: 400
                  };
    render_vstream_graph(options);
  });
</script>
<style>
  .vertical-graph {
    margin-left: 160px;
  }
</style>

<div class="one-book">

    <h2><span class="title"><%= @book.title %></span>, by <span class="author"><%= @book.author %></span>: chapter <%= @chapter_id %></h2>

    <div class="vertical-graph-container">
      <div class="vertical-graph">
      </div>
      <div class="annotation">
      </div>
    </div>

</div>
