<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= ApplicationController::Sitename %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-header">
    <nav>
      <ul>
        <li><%= link_to_unless_current ApplicationController::Sitename, root_path %>
            <div style="margin-left: 10px;" class="circle <%= on_page(root_path) %> home" cx="40" cy="36" r="6"></div></li>
        <li><%= link_to_unless_current "Books", books_path %>
            <div class="circle <%= on_page(books_path) %> books" cx="40" cy="36" r="6"></div></li>
        <li><%= link_to_unless_current "About", about_path %>
            <div class="circle <%= on_page(about_path) %> about" cx="40" cy="36" r="6"></div></li>
      </ul>
    </nav>
  </div>

  <div class="page-container">
<%= yield %>
  </div>

<div id="back-text">
<% if content_for?(:background_text) %>
<%= yield(:background_text) %>
<% elsif defined?(@background_text) %>
<%= @background_text %>
<% else %>
Two days passed in this manner before he was able to speak, and I often
feared that his sufferings had deprived him of understanding.  When he
had in some measure recovered, I removed him to my own cabin and
attended on him as much as my duty would permit.  I never saw a more
interesting creature:  his eyes have generally an expression of
wildness, and even madness, but there are moments when, if anyone
performs an act of kindness towards him or does him any the most
trifling service, his whole countenance is lighted up, as it were, with
a beam of benevolence and sweetness that I never saw equalled.  But he
is generally melancholy and despairing, and sometimes he gnashes his
teeth, as if impatient of the weight of woes that oppresses him.
<% end %>
</div>

</body>
</html>
