<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= ApplicationController::Sitename %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-header">
    <nav>
      <ul>
        <li><%= link_to_unless_current ApplicationController::Sitename, root_path %>
            <div class="circle <%= on_page(root_path) %> home" cx="40" cy="36" r="6"></span></li>
        <li><%= link_to_unless_current "Books", books_path %>
            <div class="circle <%= on_page(books_path) %> books" cx="40" cy="36" r="6"></span></li>
        <li><%= link_to_unless_current "About", about_path %>
            <div class="circle <%= on_page(about_path) %> about" cx="40" cy="36" r="6"></span></li>
      </ul>
    </nav>
  </div>

  <div class="page-container">
<%= yield %>
  </div>

</body>
</html>
